/* '
------------------------------------------
COLORS
------------------------------------------
Sage Green: #54A09E
Light Pink: #F3C0AF
Red:        #DE4B51
Orange:     #E6643C
Black:      #101820
Navy:       #385E71
------------------------------------------

------------------------------------------
FONTS
------------------------------------------
font-family: 'DM Serif Display', serif;
font-family: 'Fira Sans', sans-serif;
------------------------------------------
*/

html, body, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

h2, h4, h6 {
  margin:0;
}

.headline {
  font-family: 'DM Serif Display', serif;
  font-size: 3.5em;
  margin: 0em;
}

header {
  width:100%;
  height:10%;

  display: flex;
  gap: 1em;
  
  background-color:  #101820;
  
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

header button {
  margin: auto 2em auto auto;
  padding:1em;
  border: 1px solid white;
  border-radius: 8px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color:white;
  background:none;
}

.calendar-display {
  display: flex;
  gap:1em;

  width:100%;
  height:90%;

  background-color: white;
  color: #101820;

  padding: 2em;
  overflow: hidden;


  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.event-list {
  display:flex;
  flex-flow: row wrap;
  align-content: start;

  width:100%;
  height:90%;

  gap:1em;
  padding:0;
  margin:0;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.highlight-card {
  width:100%;
  height:56.8%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.event-card {

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  height:30%;
  width:30%;

  padding:1em;
  
  border: 1px solid #385E71;
  border-radius: 8px;

  overflow: hidden;
}

.highlight-card .event-card {
  width:100%;
  height:100%;
}

.upcoming-display {
  width:60%;
  overflow: hidden;
}

.today-view {
  width:30%;
}