/* '
------------------------------------------
COLORS
------------------------------------------
Sage Green: #54A09E
Light Pink: #F3C0AF
Red:        #DE4B51
Orange:     #E6643C
Black:      #101820
Navy:       #385E71

Figma:
background-color: #1E2129;
------------------------------------------

------------------------------------------
FONTS
------------------------------------------
font-family: 'DM Serif Display', serif;
font-family: 'Fira Console', monospace;
font-family: 'Fira Sans', sans-serif;
------------------------------------------
*/

html, body, .App, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  background-color: #1E2129;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

header {
  width:100%;
  height:10%;

  padding: 0em 2em 0em 2em;

  display: flex;
  gap: 1em;
  
  background-color:  #101820;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

header .date {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2.5em;

  color:white;
  margin:0;
}

header .time {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2.5em;

  color:white;
  margin:0;
}


.calendar-display {
  display: flex;

  width:100%;
  height:80%;

  color: white;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*************
  CARDS
**************/

/* Upcoming card formatting */
.event-card {
  position: relative;

  display:flex;
  flex-flow: column nowrap;
  gap:.5em;

  padding: 1em;

  width:100%;

  background: #1F2937;
  border: 2px solid #4B5563;
  border-radius: 8px;  

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.event-title {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5em;

  margin: 0;
}

.event-date {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: .75em;
  line-height: 1.25em;

  margin: 0;
}

.event-date-wrapper {
  position:absolute;
  top: -.5em;

  background-color: #1F2937;
}

/*************
  UPCOMING
**************/

.upcoming-display {
  position: relative;

  height:100%;
  width:50%;

  margin: 2em;
  padding: 1em;

  overflow: hidden;

  background-color: #1F2937;

  border-radius: 12px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.upcoming-display .content-fade {
  position: absolute;
  bottom: 0em;
  left:0em;

  background: linear-gradient(0deg, rgba(31,41,55,1) 35%, rgba(255,255,255,0) 100%);

  width:100%;
  height:6em;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.upcoming-title {
  font-family: 'Fira Code', monospace;
  font-weight: 700;

  font-size: 1.25em;
  line-height: 1.75em;
}

.event-list {
  display:flex;
  flex-flow: column nowrap;
  align-content: start;

  height:100%;

  gap:1em;
  padding:0;
  margin:0;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*************
  TODAY VIEW
**************/

.today-view {
  display:flex;
  flex-flow: column nowrap;

  height:100%;
  width:40%;

  margin: 2em;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.today-header {
  display: flex;
  align-items: center;
  padding: 1em 1.5em 1em 1em;

  background: #1F2937;
}

.today-header .calendar-icon {
  display: flex;
  flex-direction: row;
  padding: .75em;
  
  background: #08314A;
  border-radius: 100px;
  margin: 0px 1.5em;
}

.today-header .date {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.75em;

  margin: 0;
}

.today-header .time {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1em;

  margin: 0;
}

.today-body {
  display: flex;
  flex-direction: column;

  height:100%;
  width:100%;

  overflow: hidden;

  padding: 2.5em;
  
  border-left: 2px solid #383846;
  border-right: 2px solid #383846;
  border-bottom: 2px solid #383846;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.today-view .event-title {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 2.5em;
}

.today-view p {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;

  text-align: justify;
  flex: 1 3 30%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.today-view .content-fade {
  position:absolute;
  bottom:2em;
  background: linear-gradient(0deg, rgba(30,33,41,1) 35%, rgba(255,255,255,0) 100%);
  width:40%;
  height:6em;

  border-left: 2px solid #383846;
  border-right: 2px solid #383846;
  border-bottom: 2px solid #383846;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/****************
  ALL DAY BANNER
*****************/

.all-day-events {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;

  display:flex;
  justify-content: center;

  color:white;

  gap:5em;
}

/************
  PROPERTIES
*************/

.property-display {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: .75em;
  line-height: 1em;

  display:flex;
  align-items: center;
  gap: .25em;
}

.property-display h3 {
  margin: 0;
}