/* '
------------------------------------------
COLORS
------------------------------------------
Sage Green: #54A09E
Light Pink: #F3C0AF
Red:        #DE4B51
Orange:     #E6643C
Black:      #101820
Navy:       #385E71
------------------------------------------

------------------------------------------
FONTS
------------------------------------------
font-family: 'DM Serif Display', serif;
font-family: 'Fira Sans', sans-serif;
------------------------------------------
*/

html, body, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h2, h4, h6 {
  margin:0;
}

.headline {
  color:rgba(16, 24, 32, 1);
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 4em;
  
  margin: 0em 0em .25em 0em;
}

header {
  width:100%;
  height:10%;

  padding: 0em 2em 0em 2em;

  display: flex;
  gap: 1em;
  
  background-color:  #101820;
  
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

header img {
  padding:1em 0em 1em 0em;
}

header button {
  margin: auto 0em auto auto;
  padding:1em;
  border: 1px solid white;
  border-radius: 8px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color:white;
  background:none;
}

.calendar-display {
  display: flex;
  flex-direction: column;
  gap:1em;

  width:100%;
  height:80%;

  color: white;

  padding: 2em;
  overflow: hidden;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/**********************
  CONTAINER FOR MIDDLE
***********************/

.timed-events {
  width:100%;
  height:90%;

  display:flex;
  gap: 3em;
}

/*************
  CARDS
**************/

/* Upcoming card formatting */
.event-card {
  display:flex;
  flex-flow: column nowrap;

  background-color: rgba(16, 24, 32, .75);

  height:30%;
  width:48%;

  font-size: .75em;

  padding:1em;

  overflow: hidden;
  
  border: 1px solid white;
  border-radius: 8px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.event-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;

  margin: 0;
}

.event-card h1 {
  font-size:2.25em;
}

.event-card h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.event-card p {
  height: 70%;
  font-size: 2em;

  margin: .25em 0em 0em 0em;
  
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

/* "Now" Card formatting */
.highlight-card .event-card {
  width:100%;
  height:100%;
}

/*************
  UPCOMING
**************/

.upcoming-display {
  height:100%;
  width:70%;
}

.event-list {
  display:flex;
  flex-flow: row wrap;
  align-content: start;

  width:100%;
  height:80%;

  gap:1em;
  padding:0;
  margin:0;
  overflow:hidden;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*************
  TODAY VIEW
**************/

.today-view {
  height:100%;
  width:30%;
}

.today-view .highlight-card {
  height:80%;
}

/*************
  FOOTER
**************/

.footer {
  display:flex;
  height:10%;
  width:100%;
  padding:1em 2em 1em 2em;

  background-color: #101820;
  color:white;

  font-family: 'DM Serif Display', serif;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.footer .time {
  margin-left:auto;
}

/****************
  ALL DAY BANNER
*****************/

.all-day-event {
  padding:.5em;
  margin: auto 0 auto 0;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(16, 24, 32, .75);
  color: white;
  flex: 1 0 auto;
}

.banner {
  height:10%;
  display:flex;
  gap:1em;
  justify-content: space-evenly;
}